@model IEnumerable<TaskDone_V2.Models.Project>

@{
    ViewBag.Title = "Projects List:";
}

<h2>Project Lists </h2>
@using (Html.BeginForm())
{
    <p>
        Find by: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<div class="col-md-10">
    @Html.Display("CategoryName")
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Project Name", "ListProjectsPerCategory", new { sortOrder = ViewBag.NameSortParm})
        </th>

        <th>
            @Html.ActionLink("Preffered Price", "ListProjectsPerCategory", new { sortOrder = ViewBag.PriceSortParm })
        </th>
      
        <th>
            @Html.ActionLink("Posted Date", "ListProjectsPerCategory", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ProposedPrice)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>

            <td>
                @{string statusName = (item.Status.Name);}
                @if (statusName == "Active")
                {
                    @Html.ActionLink("Offer It!", "Create", "Offers", new { id = item.Id}, new { target = "_self",  @class = "badge badge-pill badge-success" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "badge badge-pill badge-success" })
                }

            </td>
        </tr>
    }

</table>
